body {
  padding: 30px;
}

input {
  
}

.name-field {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.location-field {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.message-field {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

button {
  margin-top: 15px;
}

label {
  padding-bottom: 5px;
}